body {
    font-family: 'Verdana', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    align-items: center;
    margin-bottom: -20px;
    width: 300px;
}

footer {
    background-color: #f7f7f7;
    font-family: 'Verdana', sans-serif;
    color: #333;
    margin-top: -15px;
    text-align: center;
    font-size: 12px;
}


h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


.payment-details-win {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.2);
    align-items: center;
    border-radius: 8px;
}

.payment-title {
    font-family: Tahoma,sans-serif;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.price_tag {
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;

    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: medium;
}

#discounted_price{
    font-weight: normal;
    font-size: larger;
}

.form {
    display: grid;
    
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}


label {
    display: block;
    font-size: 16px;
    color: #333;
    align-items: center;
}

input{
    width: 320px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
    align-items: center;
    border-radius: 8px;
    
}

input.error {
    border: 1px solid red;
  }

.error-message {
    color: #ff0000;
    font-size: 13px;
    text-align: center;
    margin-top: -3px;
    /* margin-top: 5px; */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin: 5px;
    background-color: rgb(0, 42, 81);
    -webkit-text-fill-color: #ffffff;
    border-radius: 10px;
    
}

button:hover {
    transform: scale(1.08);
    transition: transform 0.5s;
  }

.select-container{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.month-selector, .year-selector{
    flex-direction: column;
    margin-right: 35px;
}

.year-selector{
    justify-content:right;
    align-items: end;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.invalid {
    border: 1px solid red;
}